<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
	<header>
		<div class="top__barre">
			<p>-50 % sur les boites de spiruline à DDM courte !</p>
			<img src="assets/img/saveursdenormandie.png" alt="">
		</div>
		<div class="header">
			<div class="logo__cta">
				<div class="logo">
					<a href="#">
						<img src="assets/img/ressoursee-logo.png" alt="">
					</a>
				</div>
				<div class="cta">
					<a href="#">
						<span class="icon magnifier"></span>
					</a>
					<a href="#">
						<span class="icon user"></span>
					</a>
					<a href="#">
						<span class="icon cart"></span>
					</a>
				</div>
				<a href="#" id="hbg">
					<span></span>
					<span></span>
					<span></span>
				</a>
			</div>
			<nav>
				<a href="index.html">Accueil</a>
				<a href="spiruline.html">La spiruline</a>
				<a href="#">Qui sommes-nous ?</a>
				<a href="#">Boutique</a>
				<a href="#">Blog</a>
				<a href="#">Nos points de vente</a>
				<a href="#">FAQ</a>
				<a href="#">Nous contacter</a>
			</nav>
			
		</div>
	</header>
	<section id="hero" class="home">
		<img src="assets/img/ressoursee-spiruline-4-1920x800.jpeg" alt="">
		<div class="container">
			<h1 class="h1">Qui sommes-nous ?</h1>
			<div class="ariane">
				<p><a href="index.html">Accueil</a> | Qui sommes-nous ?</p>
			</div>
		</div>
	</section>
	


	<section id="story">
		<div class="container img_text reverse">
			<figure class="img">
				<img src="assets/img/ressoursee-schema-1200x1462.png" alt="">
			</figure>
			<div class="content">
				<h2 class="h2">Histoire</h2>
				<p class="m-green">Notre activité normande est située dans le sud Manche à Cuves, près d’Avranches et non loin du Mont-Saint-Michel. Notre spiruline est produite de manière artisanale et raisonnée.</p>
				<p>Le chauffage des bassins de culture et le séchage de la spiruline se font grâce à la SAS les champs Jouault. Celle-ci a pour mission première le stockage et la valorisation des déchets ultimes non dangereux en mode bio-réacteur. La fermentation des matières organiques produit un biogaz valorisé en mode cogénération sous forme d’électricité. La chaleur fatale (« perdue ») des moteurs de cogénération est récupérée pour chauffer les serres. La production de spiruline s’insère ainsi dans une démarche durable. Pour en savoir plus sur le biogaz, cliquer ici pour découvrir la vidéo.</p> 
				<p>La marque RessourSée a été créée en 2017. Après quelques années de tâtonnements et d’essais pour acclimater la spiruline, la production de spiruline déshydratée démarre en 2018.</p>
			</div>
		</div>
	</section>



	<section id="team">
		<div class="container img_text">
			<figure class="img">
				<img src="assets/img/ressoursee-spiruline-equipe-1200x1387.png" alt="">
			</figure>
			<div class="content">
				<h2 class="h2">Les bienfaits de la spiruline</h2>
				
				<ul>
					<li>
						<h3 class="h4">Biodisponibilité optimale</h3>
						<p>La biodisponibilité peut être définie comme étant la quantité assimilée d’un nutriment par rapport à la quantité totale ingérée. La paroi cellulaire de la spiruline est fragile (absence de cellulose), les nutriments et micro-nutriments sont facilement accessibles. La biodisponibilité de la spiruline est élevée !</p>
					</li>
					<li>
						<h3 class="h4">Biodisponibilité optimale</h3>
						<p>La biodisponibilité peut être définie comme étant la quantité assimilée d’un nutriment par rapport à la quantité totale ingérée. La paroi cellulaire de la spiruline est fragile (absence de cellulose), les nutriments et micro-nutriments sont facilement accessibles. La biodisponibilité de la spiruline est élevée !</p>
					</li>
					<li>
						<h3 class="h4">Biodisponibilité optimale</h3>
						<p>La biodisponibilité peut être définie comme étant la quantité assimilée d’un nutriment par rapport.</p>
					</li>
					<li>
						<h3 class="h4">Biodisponibilité optimale</h3>
						<p>La biodisponibilité peut être définie comme étant.</p>
					</li>
				</ul>
			</div>
		</div>
	</section>

		<section id="newsletter" style="background:url(assets/img/fond-2.png); background-attachment: fixed; background-size: cover;">
		<div class="container">
			<h2 class="h2">Newsletter</h2>
			<p>Inscrivez-vous à notre newsletter afin d'être informé(e) des nouveautés, des promos, des évènements...</p>
			<form action="#">
				<input type="text" name="newletter" placeholder="Votre e-mail*">
				<button class="underline">Je m'inscris</button>
			</form>
		</div>
	</section>
	<footer>
		<div class="container logos">
			<figure>
				<img src="assets/img/AB_HD.jpg" alt="">
			</figure>
			<figure>
				<img src="assets/img/ressoursee-logo.png" alt="">
			</figure>
			<figure>
				<img src="assets/img/normandie.png" alt="">
			</figure>
		</div>
		<nav>
			<a href="index.html">Accueil</a>
			<a href="spiruline.html">La spiruline</a>
			<a href="#">Qui sommes-nous ?</a>
			<a href="#">Boutique</a>
			<a href="#">Blog</a>
			<a href="#">Nos points de vente</a>
			<a href="#">FAQ</a>
			<a href="#">CGV</a>
			<a href="#">Politique de retour</a>
		</nav>
		<hr>
		<div class="contact__drop__pay">
			<div class="contact">
				<h2 class="h2">Contact</h2>
				<p>2 impasse des Champs Jouault, 50670 Cuves</p>
				<p>Tél. 07 85 02 77 73</p>
				<a href="#" class="btn">Nous contacter</a>
			</div>
			<div class="drop">
				<h2 class="h2">Livraison</h2>
				<p>Expédition via Colissimo (offerte dès 90€ d'achat). Vente directe sur rendez-vous</p>
			</div>
			<div class="pay">
				<h2 class="h2">Paiement</h2>
				<p>Carte bancaire</p>
				<p>PayPal</p>
				<p>Chèque</p>
			</div>
		</div>
		<div class="credits">
			<p>© 2023 - Réalisé par Moi | Politique de confidentialité | Gestion des cookies</p>
		</div>
	</footer>

	<script src="assets/js/main.js"></script>

</body>
</html>