<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
	<header>
		<div class="top__barre">
			<p>-50 % sur les boites de spiruline à DDM courte !</p>
			<img src="assets/img/saveursdenormandie.png" alt="">
		</div>
		<div class="header">
			<div class="logo__cta">
				<div class="logo">
					<a href="#">
						<img src="assets/img/ressoursee-logo.png" alt="">
					</a>
				</div>
				<div class="cta">
					<a href="#">
						<span class="icon magnifier"></span>
					</a>
					<a href="#">
						<span class="icon user"></span>
					</a>
					<a href="#">
						<span class="icon cart"></span>
					</a>
				</div>
				<a href="#" id="hbg">
					<span></span>
					<span></span>
					<span></span>
				</a>
			</div>
			<nav>
				<a href="index.html">Accueil</a>
				<a href="spiruline.html">La spiruline</a>
				<a href="#">Qui sommes-nous ?</a>
				<a href="#">Boutique</a>
				<a href="#">Blog</a>
				<a href="#">Nos points de vente</a>
				<a href="#">FAQ</a>
				<a href="#">Nous contacter</a>
			</nav>
			
		</div>
	</header>
	<section id="hero" class="home">
		<img src="assets/img/ressoursee-spiruline-3-1920x800.jpeg" alt="">
		<div class="container">
			<h1 class="h1">Blog</h1>
			<div class="ariane">
				<p><a href="index.html">Accueil</a> | Blog</p>
			</div>
		</div>
	</section>


	
	<section id="blog">
		<div class="container">
			<div class="grid col-2 md-col-1">
				<div class="col">
					<article>
						<figure>
							<img src="assets/img/20230622_091832-600x600.jpg" alt="">
						</figure>
						<div class="content">
							<div class="text">
								<h1 class="h4">Aux origines de nos cultures de spiruline</h1>
								<p>Publié le 11/07/2023 • Production</p>
							</div>
							<a href="#" class="underline blue">Lire la suite</a>
						</div>
					</article>
				</div>
				<div class="col">
					<article>
						<figure>
							<img src="assets/img/soap-gbbef141e7_1920-600x600.jpg" alt="">
						</figure>
						<div class="content">
							<div class="text">
								<h1 class="h4">Cosmétologie et spiruline</h1>
								<p>Publié le 20/04/2023 • Beauté</p>
							</div>
							<a href="#" class="underline blue">Lire la suite</a>
						</div>
					</article>
				</div>
				<div class="col">
					<article>
						<figure>
							<img src="assets/img/ressoursee-spiruline-3-600x600.jpeg" alt="">
						</figure>
						<div class="content">
							<div class="text">
								<h1>La photosynthèse, c’est quoi ?</h1>
								<p>Publié le 01/03/2023 • Production</p>
							</div>
							<a href="#" class="underline blue">Lire la suite</a>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>
	
	<section id="newsletter" style="background:url(assets/img/fond-2.png); background-attachment: fixed; background-size: cover;">
		<div class="container">
			<h2 class="h2">Newsletter</h2>
			<p>Inscrivez-vous à notre newsletter afin d'être informé(e) des nouveautés, des promos, des évènements...</p>
			<form action="#">
				<input type="text" name="newletter" placeholder="Votre e-mail*">
				<button class="underline">Je m'inscris</button>
			</form>
		</div>
	</section>
	<footer>
		<div class="container logos">
			<figure>
				<img src="assets/img/AB_HD.jpg" alt="">
			</figure>
			<figure>
				<img src="assets/img/ressoursee-logo.png" alt="">
			</figure>
			<figure>
				<img src="assets/img/normandie.png" alt="">
			</figure>
		</div>
		<nav>
			<a href="index.html">Accueil</a>
			<a href="spiruline.html">La spiruline</a>
			<a href="#">Qui sommes-nous ?</a>
			<a href="#">Boutique</a>
			<a href="#">Blog</a>
			<a href="#">Nos points de vente</a>
			<a href="#">FAQ</a>
			<a href="#">CGV</a>
			<a href="#">Politique de retour</a>
		</nav>
		<hr>
		<div class="contact__drop__pay">
			<div class="contact">
				<h2 class="h2">Contact</h2>
				<p>2 impasse des Champs Jouault, 50670 Cuves</p>
				<p>Tél. 07 85 02 77 73</p>
				<a href="#" class="btn">Nous contacter</a>
			</div>
			<div class="drop">
				<h2 class="h2">Livraison</h2>
				<p>Expédition via Colissimo (offerte dès 90€ d'achat). Vente directe sur rendez-vous</p>
			</div>
			<div class="pay">
				<h2 class="h2">Paiement</h2>
				<p>Carte bancaire</p>
				<p>PayPal</p>
				<p>Chèque</p>
			</div>
		</div>
		<div class="credits">
			<p>© 2023 - Réalisé par Moi | Politique de confidentialité | Gestion des cookies</p>
		</div>
	</footer>

	<script src="assets/js/main.js"></script>

</body>
</html>